<div class="message">
    <div>
        <p class="message-content">
            {{content}}
        </p>
        <p>
        <span>
            Created on 
        </span>
        <span class="message-date">
            {{#if postDate}}
                {{postDate}}
            {{else}}
                unknown
            {{/if}}
        </span> 
            by 
        <a class="message-creator" href="#">
            {{#if username}}
                {{username}}
            {{else}}
                anonymous
            {{/if}}
        </a>
        </p>
    </div>
</div>