    <div class="material">
        <img src="{{this.img}}" alt="none" class="material-img"><br />
        <label class="material-label">Title:</label>
        <a href="#/materials/{{this.id}}">{{this.title}}</a><br />
        <label class="material-label">Created on:</label>
        <span>{{this.createdOn}}</span><br />
        <label class="material-label">Description:</label>
        <span>{{this.description}}</span><br />
    </div>